run = "python -m pip install --user -r requirements.txt && cd backend && python -m uvicorn app.main:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python -m pip install --user -r requirements.txt && cd backend && python -m uvicorn app.main:app --host 0.0.0.0 --port 8000"]

[packager]
language = "python3"

[packager.features]
packageSearch = true